@charset "utf-8";
/* CSS Document */
		a {
			color: white;
		}
		a:hover{
			color: gainsboro;
		}
		body {
			color: white;
			font-family: Consolas;
		}
		.container-fluid{
			background: #355C7D;  /* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}
		.card-body {			
			color: black;
			font-family: Consolas;
		}
		.card-text{
			font-size: 15px;
		}
		.navbar-nav b {
			position: absolute;
			top:1;
			right:8;
		}

	.owl-prev {
		position: absolute;
		top: 50%;
		left: 0px;
		transform: translateY(-50%);
		width: 40px; 
		height: 30%; 
		background-color: #ccc; 
		}

	.owl-next {
		position: absolute;
		top: 50%;
		right: 0px;
		transform: translateY(-50%);
		width: 40px; 
		height: 30%; 
		background-color: #ccc; 
	}

	.owl-prev span,
	.owl-next span {
		font-size: 35px;
		color: #000;
	}
	.owl-prev:hover span,
	.owl-next:hover span {
		color: #ff0000;
	}
	/*chỉnh nút back to top */
	#myBtn {
	  display: none; 
	  position: fixed; 
	  bottom: 20px; 
	  right: 30px; 
	  z-index: 99; 
	  cursor: pointer; 
	border-radius: 100%;  
	opacity: 0.6;
	}
	#myBtn:hover{
		opacity: 1.0;
	}
